.well{
	letter-spacing: 1px;
}

.well:hover {
	background-color: #D0D0D0;
	letter-spacing: 1px;
}

.padding {
	margin-left: 350px;
	margin-right: 350px;
	margin-top: 50px;
	margin-bottom: 50px;
}


.message{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 35px;

}

.button{
	float: right;
	position: relative;
	bottom: 20px;

}

.numCom-Likes{
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 14px;
	position: relative;
	bottom: 10px;
}

.view{
	position: relative;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 14px;
	bottom: 100px;
	left: 50px;
	text-decoration: underline;
}

.view:hover {
	position: relative;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 14px;
	bottom: 100px;
	left: 50px;
	text-decoration: underline;
	cursor: pointer;
}